 <extend name="Base/common"/>

 <block name='body'>
 	<div class="col-xs-12">
 		<form action="{:U('Index/add')}" method="post">
 			姓名：<input type="text" name="username" id="username">
 			年龄：<input type="text" name="age" id="age">
 			<input type="submit" value="保存">
 		</form>
 	</div>

 	<div class="col-xs-12">
 		<table class="table">
 			<thead>
 				<tr>
 					<th>编号</th>
 					<th>姓名</th>
 					<th>年龄</th>
 					<th>操作</th>
 				</tr>
 			</thead>
 			<tbody>
 				<volist name='list' id="item">
 					<tr>
 						<td>{$item.id}</td>
 						<td>{$item.username}</td>
 						<td>{$item.age}</td>
 						<td><a href="{:U('Index/delete')}?id={$item.id}">删除</a</td>
 					</tr>
 				</volist>
 			</tbody>
 		</table>
 	</div>
 </block>