<extend name="Base/common"/>

<block name='style'>
	<style type="text/css">

		#nav .col-xs-6 {
			padding-top: 15px;
		}

		#nav .col-xs-6 a {
			background-color: #fff;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 5px;
			font-size: 18px;
			text-decoration: none;
			color: #bb140d;
		}
	</style>
</block>

<block name='body'>
	<div id="pic-show" class="col-xs-12 no-padding">
		<img src="__STATIC__/img/index.jpg" width="100%">
	</div>
	<div id="recommend" class="col-xs-12" style="padding-top: 15px;">
		<div class="text-danger" style="margin-bottom: 8px;font-weight: bold;border-bottom: solid 1px #bb140d">
		产品信息
		</div>

	</div>

	<div id="new" class="col-xs-12" style="padding-top: 15px;">
		<div class="text-danger" style="margin-bottom: 8px;font-weight: bold;border-bottom: solid 1px #bb140d">
		产品特色
		</div>

	</div>
</div>
</block>