<extend name="Base/common"/>

<block name='style'>
	<style type="text/css">

		#nav .col-xs-6 {
			padding-top: 15px;
		}

		#nav .col-xs-6 a {
			background-color: #fff;
			padding-top: 15px;
			padding-bottom: 15px;
			border-radius: 5px;
			font-size: 18px;
			text-decoration: none;
			color: #bb140d;
		}
	</style>
</block>

<block name='body'>
	<div id="body">
		<div id="recommend" class="col-xs-12" style="padding-top: 15px;">
			<div class="text-danger" style="margin-bottom: 8px;font-weight: bold;border-bottom: solid 1px #bb140d">
				推荐产品
				<a class="pull-right  text-danger" href="#">更多</a>
			</div>
			<volist name="recommend" id="item">
				<div class="col-xs-6" style="padding: 3px;">
					<a class="thumbnail" href="{:U('Product/details')}">
						<img src="__STATIC__/img/{$item.pic}" alt="{$item.name}">
						<div class="caption">
							<p>{$item.name}</p>
							<div class=" text-danger">
								<span><i class="fa fa-eye"></i>15</span>
								<span><i class="fa fa-star"></i>15</span>
							</div>
						</div>
					</a>
				</div>
			</volist>
		</div>

		<div id="new" class="col-xs-12" style="padding-top: 15px;">
			<div class="text-danger" style="margin-bottom: 8px;font-weight: bold;border-bottom: solid 1px #bb140d">
				最新产品
				<a class="pull-right  text-danger" href="#">更多</a>
			</div>
			<volist name="recommend" id="item">
				<div class="col-xs-6" style="padding: 3px;">
				<a class="thumbnail" href="{:U('Product/details')}">
						<img src="__STATIC__/img/{$item.pic}" alt="{$item.name}">
						<div class="caption">
							<p>{$item.name}</p>
							<div class=" text-danger">
								<span><i class="fa fa-eye"></i>15</span>
								<span><i class="fa fa-star"></i>15</span>
							</div>
						</div>
					</a>
				</div>
			</volist>
		</div>

		<div id="all" class="col-xs-12" style="padding-top: 15px;padding-bottom: 40px;">
			<div class="text-danger" style="margin-bottom: 8px;font-weight: bold;border-bottom: solid 1px #bb140d">
				全部产品
				<a class="pull-right  text-danger" href="#">更多</a>
			</div>
			<volist name="recommend" id="item">
				<div class="col-xs-6" style="padding: 3px;">
					<a class="thumbnail" href="{:U('Product/details')}">
						<img src="__STATIC__/img/{$item.pic}" alt="{$item.name}">
						<div class="caption">
							<p>{$item.name}</p>
							<div class=" text-danger">
								<span><i class="fa fa-eye"></i>15</span>
								<span><i class="fa fa-star"></i>15</span>
							</div>
						</div>
					</a>
				</div>
			</volist>
		</div>
	</div>
</block>